/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

/* ==========================================================================
   Custom styles
   ========================================================================== */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*font: inherit;*/
    vertical-align: baseline;
}

ul {
     padding:10px;
     text-align:center;
     list-style: none;
}

ul li{
    line-height: 100%;
    font-size: 20px;
}

ul li:hover:before, ul li:hover:after, ul li.active:before, ul li.active:after, ul li:focus:before, ul li:focus:after {
    width: 10em;
    background: #ee6e23;
}

ul li:before, ul li:after {
    background: transparent;
    content: "";
    display: block;
    margin: 5px auto;
    width: 20px;
    height: 1px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#menu-nav{    
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    font-family: 'dual600',Arial,sans-serif;
    width: 100px;
    height: 100%;
    background-color: #425262; 
}

#menu-nav-inner{ 
    display: table-cell;
    vertical-align: middle;
}

.entry{
    margin: auto;
    width: 30px;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 15px; 
}

a, a:visited, a:active {
    color: white;
    text-decoration: none;
}   

.menu-link-hover:hover:before, .menu-link-hover:hover:after, .menu-link-hover.active:before, .menu-link-hover.active:after, .menu-link-hover:focus:before, .menu-link-hover:focus:after {
    width: 1em;
    background: #ee6e23;
}

.menu-link-hover:before, .menu-link-hover:after {
    background: transparent;
    content: "";
    display: block;
    margin: 10px auto;
    width: 0px;
    height: 1px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.menu-link {
    display: block;
}    

.label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.grey-clear-bar {
    display: block;
    position: relative;
    border: 1px solid #8e98a5;
    margin: 25 0 25 0;
    clear: both;}

#main-wrapper{
    padding-left:100px;
    height:100%;
    width:100%;
    background-image: url("../img/skyscraper_window.jpg");
    background-size: cover;
    background-position: center;
    opacity:0.5;
    position:fixed;
    top:0px;
    left:0px;
}


#main-inner-wrapper{
  width: 400px;
  height: 100px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
  z-index:5;
}

#main-inner-wrapper h1{
    color: white;
     border: 5px solid white;
     padding:10px;
     text-align:center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
}
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
}