       <h3>{{apiReferences[0].methods}}</h3>

<p>This method retrieves table data via GlideAjax, filters the data via query parameters and populates it in a HighCharts visualization tool such as a bar or pie chart. This function come with two parameters. The "filter" parameter returns the column name in which the data will be filtered and the "callback" parameter returns the HighCharts visualization tool.  
 </p>

<p>There are two components you must have to ensure the tool will render on your page. A third is optional depending on the filter type.</p>

<ol>
	<li>Visualization Component - html container where the tool displays</li>	
    <li>Script Component- ensures the rendering of the tool</li>
    <li>Filter Component(Optional) - html filter container with query param update function
    	<ul>
        	<li>OffName</li>
        </ul>
    </li>
</ol>

<h4>Example</h4>
<hr>
<img src="img/filter_func.gif" alt="code_example">
<hr>
 <table class="table display compact" id="apiTable" cellspacing="5" width="100%">
         <thead>
            <tr>
               <th>Filter</th>
               <th>Callback</th>
               <th>Description</th>
               <th>Notes:</th>
            </tr>
         </thead>
        <tfoot>
            <tr>
               <th>Filter</th>
               <th>Callback</th>
               <th>Description</th>
               <th>Notes:</th>
            </tr>
         </tfoot>
         <tbody>
              <tr id="apiReference" ng-repeat="param in apiReferences[0].params" on-last-repeat="">   
                  <td>{{param.filter}}</td>
                  <td>{{param.gbiCallback}}</td>
                  <td>{{param.description}}</td>
                  <td>{{param.notes}}</td>
              </tr>
         </tbody>
 </table>
