

/* ==========================================================================
   Custom styles
   ========================================================================== */

/*General styles*/

#top-section h3 {
    text-align:center;
   
}

#top-section h1 {
    text-align:center;
     border-bottom: 1px solid #333;
}

#top-section p{
font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 2rem;
    line-height: 1.7;
}

.text-emphasis{
    font-style: italic;
}

hr{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}







